.label {
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 400;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 200px;
  border: 0px;
  cursor: pointer;
  background-color: transparent;
}

.active {
  border-bottom: 1px solid orange;
  font-weight: 500;
  color: orange;
}
