.heading-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px;
}

.heading {
  font-size: 25px;
  font-family: 'Roboto';
  padding-left: 5px;
  padding-bottom: 0px;
}

.orders-logo-container {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}

.my-order {
  font-size: 20px;
  font-family: 'Roboto';
  margin-right: 20px;
  align-self: center;
}

.logo {
  align-self: center;
  font-size: 30px;
  margin-right: 0px;
}

.items-count {
  color: white;
  background-color: orange;
  font-size: 12px;
  border-radius: 60%;
  height: 20px;
  width: 20px;
  text-align: center;
  margin-left: 0px;
  font-weight: bold;
}

.hr {
  margin: 0px;
  padding: 0px;
}

.labels-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
  overflow-x: auto;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  flex-grow: 1;
}
